body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #0a143a;
}

.container {
    max-width: 1146px;
    margin: 0 auto;
}

.header {
    margin-bottom: 12px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

.navbar-menu {
    margin-right: auto;
}

.menu-list{
    margin: 0;
    padding: 0;
    padding-left: 22px;
    list-style-type: none;
    display: flex;
}

.menu-item:not(:last-child) {
    margin-right: 14px;
}

.menu-link {
    text-decoration: none;
    color: inherit;
}

.button {
    padding: 10px 15px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.button-link {
    color: inherit
}

.button-primary {
    color: white;
    background-color: #256eeb;
    border-radius: 5px;
}

.serach-panel {
    display: flex;
    padding: 3px;
    height: 50px;
    background-color: #256eeb;
    border-radius: 5px;
}

.search-input {
    flex-grow: 1;
    border-radius: 5px;
    background-color: #fff;
    border: none;
    padding: 0 22px;
}

.search-button {
    background-color: #256eeb;
    border: none;
    color: #fff;
    padding-left: 20px;
    padding-right: 17px;
    display: flex;
    align-items: center;
}

.search-button-text {
    margin-left: 5px;
}

.page-content {
    display: grid;
    grid-template-columns: 9fr 3fr;
    grid-column-gap: 30px;
}

.page-title {
    margin: 0;
    margin-bottom: 25px;
    font-size: 24px;
    line-height: 28px;
    color: #0A143A;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.card {
    margin-bottom: 20px;
    width: 264px;
}

.card:not(:nth-child(3n)) {
    margin-right: 22px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.card-title {
    margin: 0;
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 19px;
    color: #256EEB;
}

.card-image {
    margin-bottom: 12px;
    border-radius: 10px;
    width: 264px;
    height: 178px;
    object-fit: cover;
}

.like {
    background-color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 15px;
}

.price {
    display: block;
    font-size: 16px;
    line-height: 19px;
    color: #0A143A;
    margin-bottom: 10px;
}

.card-text {
    margin: 0;
    margin-bottom: 4px;
    padding: 0;
    font-size: 14px;
    line-height: 16px;
    color: #C4C4C4;
}

.card-text:last-child {
    margin-bottom: 19px;
}

.card-link {
    text-decoration: none;
}

.sidebar-title {
    margin: 0;
    margin-bottom: 28px;
    font-size: 18px;
    line-height: 28px;
    color: #0A143A;
}

.service {
    margin-bottom: 25px;
}

.service:last-of-type {
    margin-bottom: 37px;
}

.service-title {
    margin: 0;
    margin-top: 7px;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 16px;
    color: #0A143A;
}

.service-text {
    max-width: 217px;
    font-size: 14px;
    line-height: 16px;
    color: #0A143A;
}

hr {
    margin: 0;
    margin-bottom: 18px;
}

.footer-copy {
    margin: 0;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 16px;
    color: #C4C4C4;
}

.footer-menu {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.footer-menu:first-of-type {
    margin-bottom: 16px;
}

.footer-menu-item {
    margin-bottom: 5px;
}

.footer-menu-text {
    display: inline-block;
    font-size: 14px;
    line-height: 16px;
    color: #C4C4C4;
}

.footer-menu-link {
    display: inline-block;
    font-size: 12px;
    line-height: 14px;
    text-decoration: none;
    color: #0A143A;
}